# Cleaning functions

This notebook contains the class 'cleaining' that has several methods that are useful to clean categorical variables. The methods are the following:

- <b/>get_nulls(dataframe, columns)</b>: This method returns a dictionary with the percentage of nulls of each columns of a dataframe.
  
    -Inputs:
    
        - dataframe: a pandas dataframe object.
        - columns: the columns of the dataframe to be included in the calculation. If this is not specified all the 
          columns will be taken into account.
          
- <b/>remove_nulls(dataframe, cut_off, columns)</b>: This method remove the columns of a dataframe that have a percentage of nulls higher than a certain cut_off percentage of nulls.

    -Inputs:
    
        - dataframe: a pandas dataframe object.
        - cut_off: The minimum percentage of nulls allowed to keep a columns. If a column has a percentage of nulls higher 
          than the cut_off percentage, it will be removed.
        - columns: the columns of the dataframe to be included in the operation. If this is not specified all the 
          columns will be taken into account.
          
- <b/>fill_nulls(dataframe, label, columns)</b>: This method fill the null values of the columns of a dataframe with a desired label.

    -Inputs:
    
        - dataframe: a pandas dataframe object.
        - label: The text that will be used to replace nulls.
        - columns: the columns of the dataframe to be included in the operation. If this is not specified all the 
          columns will be taken into account.
          
       
- <b/>group_categories(dataframe, cut_off, label, columns)</b>: This method change the category of a categorical variable to a desired label if the percentage of occurence of the category is less than a certain cut_off percentage. This allows to put in the same category those categories with low frequency.

    -Inputs:
    
        - dataframe: a pandas dataframe object.
        - cut_off: Categories with a percentage of occurence less than the cut_off percenatage will be relabeled
        - label: The label for those categories that will be relabeled.
        - columns: the columns of the dataframe to be included in the operation. If this is not specified all the 
          columns will be taken into account.

In [1]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

In [72]:
class cleaning(object):
    
    @staticmethod
    def get_nulls(dataframe, columns=None):
        if columns==None: 
            columns=dataframe.columns.tolist()
        nulls={}
        for feat in columns:
            nulls[feat]=(dataframe[feat].isnull().sum()*1.0/len(dataframe[feat]))*100
    
        return nulls
    
    @staticmethod
    def remove_nulls(dataframe, cut_off=5 ,columns=None):
        n_dataframe=dataframe.copy()
        if columns==None: 
            columns=dataframe.columns.tolist()
        else:
            n_dataframe=n_dataframe[columns]
        
        nulls=cleaning().get_nulls(n_dataframe, columns)
        keep_cat = []
        for cat_var in nulls:
            if nulls[cat_var]<cut_off:
                keep_cat.append(cat_var)

        return n_dataframe[keep_cat]
    
    @staticmethod
    def fill_nulls(dataframe, label='no data' ,columns=None):
        f_dataframe=dataframe.copy()
        if columns==None: 
            columns=dataframe.columns.tolist()
        else:
            f_dataframe=f_dataframe[columns]
    
        nulls=cleaning().get_nulls(f_dataframe, columns)

        for col in nulls:
             if nulls[col]>0:   
                f_dataframe[col]=f_dataframe[col].fillna(value=label)

        return f_dataframe
    
    @staticmethod
    def group_categories(dataframe, cut_off, label='Other', columns=None):
        g_dataframe=dataframe.copy()
        if columns==None: 
            columns=dataframe.columns.tolist()
    
        g_dataframe = cleaning().fill_nulls(g_dataframe,columns=columns)
        
        for col in columns:
            for category in g_dataframe[col].unique():
                if (g_dataframe[col].value_counts()/len(g_dataframe[col])*100)[category]<cut_off:
                    g_dataframe[col][g_dataframe[col]==category]=label
                
        return g_dataframe

# Examples

For the examples, we will use a dataset with a lot of categorical variables:

In [54]:
df = pd.read_csv("train.csv")

# 1. get_nulls

First, we will check the percentage of nulls of each column in the dataframe:

In [55]:
cleaning().get_nulls(df)

{'age': 0.0,
 'business_or_self_employed': 0.0,
 'capital_gains': 0.0,
 'capital_losses': 0.0,
 'citizenship': 0.0,
 'class_of_worker': 0.0,
 'country_father': 3.3645243906717517,
 'country_mother': 3.0668143522300686,
 'country_self': 1.7005558256441615,
 'd_household_family_stat': 0.0,
 'd_household_summary': 0.0,
 'dividend_from_Stocks': 0.0,
 'education': 0.0,
 'enrolled_in_edu_inst_lastwk': 0.0,
 'family_members_under_18': 0.0,
 'fill_questionnaire_veteran_admin': 0.0,
 'full_parttime_employment_stat': 0.0,
 'hispanic_origin': 0.43804473669702243,
 'income_level': 0.0,
 'industry_code': 0.0,
 'live_1_year_ago': 0.0,
 'major_industry_code': 0.0,
 'major_occupation_code': 0.0,
 'marital_status': 0.0,
 'member_of_labor_union': 0.0,
 'migration_msa': 49.967171704515266,
 'migration_reg': 49.967171704515266,
 'migration_sunbelt': 49.967171704515266,
 'migration_within_reg': 49.967171704515266,
 'num_person_Worked_employer': 0.0,
 'occupation_code': 0.0,
 'race': 0.0,
 'reason_for_unemployment': 0.0,
 'region_of_previous_residence': 0.0,
 'sex': 0.0,
 'state_of_previous_residence': 0.35484630844564286,
 'tax_filer_status': 0.0,
 'veterans_benefits': 0.0,
 'wage_per_hour': 0.0,
 'weeks_worked_in_year': 0.0,
 'year': 0.0}

# 2. remove_nulls

Then, we will remove the columns that have more than 10% of null values:

In [73]:
df_new = cleaning().remove_nulls(df, cut_off=10)

In [74]:
cleaning().get_nulls(df_new)

{'age': 0.0,
 'business_or_self_employed': 0.0,
 'capital_gains': 0.0,
 'capital_losses': 0.0,
 'citizenship': 0.0,
 'class_of_worker': 0.0,
 'country_father': 3.3645243906717517,
 'country_mother': 3.0668143522300686,
 'country_self': 1.7005558256441615,
 'd_household_family_stat': 0.0,
 'd_household_summary': 0.0,
 'dividend_from_Stocks': 0.0,
 'education': 0.0,
 'enrolled_in_edu_inst_lastwk': 0.0,
 'family_members_under_18': 0.0,
 'fill_questionnaire_veteran_admin': 0.0,
 'full_parttime_employment_stat': 0.0,
 'hispanic_origin': 0.43804473669702243,
 'income_level': 0.0,
 'industry_code': 0.0,
 'live_1_year_ago': 0.0,
 'major_industry_code': 0.0,
 'major_occupation_code': 0.0,
 'marital_status': 0.0,
 'member_of_labor_union': 0.0,
 'num_person_Worked_employer': 0.0,
 'occupation_code': 0.0,
 'race': 0.0,
 'reason_for_unemployment': 0.0,
 'region_of_previous_residence': 0.0,
 'sex': 0.0,
 'state_of_previous_residence': 0.35484630844564286,
 'tax_filer_status': 0.0,
 'veterans_benefits': 0.0,
 'wage_per_hour': 0.0,
 'weeks_worked_in_year': 0.0,
 'year': 0.0}

We can also use the method with just some of the columns of the dataframe, in this case the default cut_off value is 5%:

In [75]:
df_new2 = cleaning().remove_nulls(df,columns=['region_of_previous_residence','migration_msa','migration_sunbelt',
                                             'wage_per_hour'])

In [76]:
cleaning().get_nulls(df_new2)

{'region_of_previous_residence': 0.0, 'wage_per_hour': 0.0}

# 3. fill_nulls

Now, we will replace the nulls of each column with a label. First let's check some variables with nulls:

In [61]:
df.country_father[df.country_father.isnull()].head()
df.country_mother[df.country_mother.isnull()].head()
df.country_self[df.country_self.isnull()].head()

11    NaN
26    NaN
34    NaN
54    NaN
87    NaN
Name: country_father, dtype: object

11    NaN
26    NaN
54    NaN
87    NaN
92    NaN
Name: country_mother, dtype: object

11     NaN
87     NaN
92     NaN
129    NaN
193    NaN
Name: country_self, dtype: object

We use the method fill_nulls, by default the label to replace nulls is 'no data', and check the results:

In [63]:
df_filled = cleaning().fill_nulls(df)

df.country_father[df.country_father.isnull()].head()
df.country_mother[df.country_mother.isnull()].head()
df.country_self[df.country_self.isnull()].head()

df_filled.country_father[df_filled.country_father=='no data'].head()
df_filled.country_mother[df_filled.country_mother=='no data'].head()
df_filled.country_self[df_filled.country_self=='no data'].head()

11    NaN
26    NaN
34    NaN
54    NaN
87    NaN
Name: country_father, dtype: object

11    NaN
26    NaN
54    NaN
87    NaN
92    NaN
Name: country_mother, dtype: object

11     NaN
87     NaN
92     NaN
129    NaN
193    NaN
Name: country_self, dtype: object

11    no data
26    no data
34    no data
54    no data
87    no data
Name: country_father, dtype: object

11    no data
26    no data
54    no data
87    no data
92    no data
Name: country_mother, dtype: object

11     no data
87     no data
92     no data
129    no data
193    no data
Name: country_self, dtype: object

# 4. group_categories

Now we will use the method group_categories to change the category of all those categories in the columns 'country_father','country_mother' and 'country_self' that have a percentage of occurence (frequency) less than 2%:

In [77]:
df_grouped=cleaning().group_categories(df,cut_off=2,columns=['country_father','country_mother',
                                                  'country_self'])

Here we can see the original columns and the new columns with the new categories:

In [70]:
df.country_father.value_counts().head()
df.country_mother.value_counts().head()
df.country_self.value_counts().head()

df_grouped.country_father.value_counts().head()
df_grouped.country_mother.value_counts().head()
df_grouped.country_self.value_counts().head()

United-States    159163
Mexico            10008
Puerto-Rico        2680
Italy              2212
Canada             1380
Name: country_father, dtype: int64

United-States    160479
Mexico             9781
Puerto-Rico        2473
Italy              1844
Canada             1451
Name: country_mother, dtype: int64

United-States    176989
Mexico             5767
Puerto-Rico        1400
Germany             851
Philippines         845
Name: country_self, dtype: int64

United-States    159163
Other             23639
Mexico            10008
no data            6713
Name: country_father, dtype: int64

United-States    160479
Other             23144
Mexico             9781
no data            6119
Name: country_mother, dtype: int64

United-States    176989
Other             16767
Mexico             5767
Name: country_self, dtype: int64